* {
  margin: 0;
  padding: 0;
  font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

body {
  background-color: #E0E0E0;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h1 {
  color: #102F48;
  text-align: center;
  font-size: 4em;
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #E0E0E0;
  padding: 10px 0;
}

.header {
  color: #102F48;
  background-color: #DDFE5C;
  border-radius: 12px 12px 0px 0px;
}

#content {
  padding-top: 6em;
  padding-bottom: 20px;
  width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

h2 {
  width: auto;
  padding-left: 10px;
  padding-top: 15px;
  padding-bottom: 17px;
  font-size: 2.2em;
}

#about-me {
  border: 10px solid #E0E0E0;
  border-radius: 24px;
  background-color: white;
  width: 100%;
}

#bio {
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 20px;
  font-size: 1.2em;
  color: #102F48;
}

#portfolio, #contact {
  background-color: white;
  border: 10px solid #E0E0E0;
  border-radius: 24px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-content: flex-start;
  flex-direction: column;
}

#lists {
  padding-left: 20px;
  display: flex;
  justify-content: space-around;
}

h4 {
  font-size: 1.7em;
  color: #E0E0E0;
}

.lang-logo {
  width: 30px;
  height: auto;
}

.list-component {
  display: flex;
  flex-direction: column;
  padding: 8px;
  border: 8px solid white;
  border-radius: 24px;
  background-color: #102F48;
  list-style: none;
  width: 200px;
}

ul {
  list-style: none;
}

li, a {
  padding: 4px;
  color: #DDFE5C;
  font-weight: bold;
  text-decoration: none;
}

a:hover {
  color: #E0E0E0;
}

#contact-info {
  background-color: white;
  width: 100%;
  border-radius: 24px;
}

.list-contact {
  color: #102F48;
  font-weight: normal;
  padding: 10px;
  padding-left: 20px;
}

.contact-link {
  color: #102F48;
  text-decoration: underline;
}
